# IDE
.idea
.vscode

# Node
*.log
node_modules
.nyc_output

# Compiled files
coverage/
dist/

# Other
.DS_STORE
*#
*~

# Files
yarn.lock
package-lock.json

# typescript
*.d.ts
*.js.map

# Debug snippets
test-*.js

# Typescript related files
*.d.ts
*.js.map
index.js
src/**/*.js

# Env file
.env
